html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav {
  height: fit-content;
  background-image: url(https://thumbs.dreamstime.com/z/music-instrument-background-1760976.jpg);
  background-position: 50%;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 5%;
}

main{
  background: linear-gradient( rgb(240, 196, 157) 70%, rgb(196, 59, 49)) ;
}

nav h2 {
  font-size: 6vw;
  text-shadow: 2px 2px black;
}

nav h3 {
  font-size: 4vw;
  text-shadow: 2px 2px black;
}

nav ul{
  margin-top: 4%;
  width: 100%;
}

.form-inline input,
.size button{
  font-size: 2.5vw;
}

.carousel-item {
  height: 50vh;
  position: relative;
  text-align: center;
}

.carousel-item img {
  opacity: 0.3;
  
}

.carousel-item h3,
.carousel-item h2{
  position: absolute;
  bottom: 5vw;
  color: white;
  font-weight: 700;
  font-size: 6vw;
  margin-left: 1vw;
}
.carousel-item h3 {
  bottom: 0;
  font-size: 4vw;
}


@media screen and (min-width: 768px) {
 
}
