html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}


@font-face {
  font-family: "helvetica-neue";
  font-display: swap;
  src: local("helvetica_neue"), url(../styles/fonts/HelveticaNeue-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-light";
  font-display: swap;
  src: local("helvetica_neue_light"), url(../styles/fonts/HelveticaNeue-Light.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-bold";
  font-display: swap;
  src: local("helvetica_neue_bold"), url(../styles/fonts/HelveticaNeue-Bold.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav {
  height: fit-content;
  background-color: #383838;
  position: fixed;
  text-align: center;
  color: #888;
  padding: 1%;
  top: 0;
  font-size: 2vw;
  z-index: 99;
}

nav a,
.grey {
  color: #888;
}


.bg-grey{
  background-color: #f8f8f8;
}

.red {
  color: #d35266;
}

.bg-red {
  background-color: #d35266;
}

.p5 {
  padding: 5%;
}

.mt4 {
  margin-top: 4vw;
}

.p5 h3 {
  font-size: 8vw;
  margin: 3vw auto;
}

.fs3{
  font-size: 3vw;
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
}

.header{
  background-image: linear-gradient(rgb(211, 82, 102, 0.5) 60%, rgb(56, 56, 56)), url(https://cdn2.vectorstock.com/i/1000x1000/50/61/jazz-seamless-background-vector-1445061.jpg);
}

.header h3,
.header h4{
  text-shadow: 2px 2px #383838;
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
}

.form-inline input, 
.size button {
font-size: 2.5vw;
}

.fs2{
  font-size: 2vw;
  font-family: "helvetica-light", Arial, Helvetica, sans-serif;
}

.float-left{
  height: auto;
}

 .float-right h4,
 .float-right h5,
 .float-right h6 {
  margin-bottom: 1vh;
}

.carousel-inner{
  padding: 0 10%;
}

.adsBut button{
  padding: 2% 3%;
    background-color: #d35266; 
    border: none;
    color: white;
    margin-top: 2vw;
}

.products{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 1vw;
  color: #888;
}

.products img{
  width: 75%;
  align-self: center;
  padding: 6%;
}

.products li{
  border: 1px solid #d35266;
  border-radius: 3px;
  margin: auto 10px;
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.left-footer{
  padding:3%;
}

.left-footer a{
  font-size: 5vw;
}
.nav-right{
  display: none;
}

.footerGrid{
  display: inline-grid;
  grid-template-columns: auto auto auto ;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}



@media screen and (min-width: 768px) {
.nav-right{
  display: flex;  
  width: fit-content;
  padding: 0 20px;
  white-space: nowrap;
}

.nav-right li{
  margin-left: 20px;
  cursor: pointer;
}

.nav-left {
  justify-content: space-around;
}

.nav-left li,
.nav-left li button {
  font-size: 14px;
}

.fs3{
  font-size: 18px;
}
.fs2{
  font-size: 16px;
}

.size button,
.form-inline input{
  font-size: 20px;
}

.products{
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.products h4{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.listProd .title{
  font-size: 36px;
}

}